<!DOCTYPE html>
<html>

    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div ng-app="easyParking" ng-controller="registroControlador">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#" ng-click="mostrarInicio()">Inicio</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
            <section class="form-login image2" ng-show="!mostrarDatos">
                <h5>Login</h5>
                <div style="display: flex;justify-content: left;"><h5>Usuario</h5></div>
                <input class="controls" type="text" ng-model="usuario" name="usuario" value="" placeholder="Usuario">
                <div style="display: flex;justify-content: left;"><h5>Contraseña</h5></div>
                <input class="controls" type="password" ng-model="contrasena" name="contrasena" value="" placeholder="Contraseña">
                <div style="display: flex;align-items: center;">
                <input class="buttons" ng-click="login()" type="button" name="submitform" value="Ingresar">
                </div>
                <p><a href="#">¿Olvidaste tu contraseña?</a></p> </section>
        </div>    
    </body>
    <script src="controladorRegistro.js"></script>
</html>