<!DOCTYPE html>
<html>

    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <style>
            .imagen {
                background-image: url("https://i.ibb.co/j60YtkD/Fondo-Proyecto3.png");
                max-width: 700px;
                height: 700px;
                margin-top: 20px;
                background-size: cover;
            }
            .image2{
                background-image: url("https://i.ibb.co/820hC94/Fondo-Auto-Logo.png");
                max-width: 1202px;
                height: 720px;
                margin-top: 10px;
                max-width: 100%;
                background-size: cover;
            }
        </style>
    </head>
    <body style="background-color:#1C1A1A;">
        <div ng-app="easyParking" ng-controller="registroControlador">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#" ng-click="mostrarInicio()">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" ng-click="mostrarRegistroVehiculo()">Registrar Vehículo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" ng-click="listarVehiculos()">Listar Vehículos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container-fluid image2" ng-show="!mostrarDatos">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 mt-4 d-flex justify-content-center">
                        <input class="col-12 text-center text-light m-3" type="text" name="usuario" value="" placeholder="Usuario" style="max-width: 250px">
                    </div>
                        <div class="col-12 mt-3 d-flex justify-content-center">
                            <input class="col-12 text-center text-light m-3" type="password" name="contrasena" value="" placeholder="Contraseña" style="max-width: 250px">
                        </div>
                            <div class="col-12 mt-1 d-flex justify-content-center">
                                <button type="button" class="btn btn-success m-3 bg-dark" style="max-width: 250px">Ingresar</button>
                            </div>
                            <div class="col-12 mt-1 d-flex justify-content-center">
                            <p><a href="#">¿Olvidaste tu contraseña?</a></p> 
                        </div>
                </div>
            </div>
        <div class="container-fluid imagen" ng-show="!mostrarListaVehiculos && mostrarDatos">
            <div class="row d-flex justify-content-center">
                <div class="col-12 text-center text-light m-5" ng-show="!actualizar"><h1>Registrar Vehículo</h1></div>
                <div class="col-12 text-center text-light m-3" ng-show="actualizar"><h1>Actualizar Vehículo</h1></div>
                <div class="col-6 mt-4 d-flex justify-content-center">
                    <div>
                        <label class="form-label text-light">Seleccionar Tipo Vehículo*</label>
                        <select class="form-select" aria-label="Defaul select example" style="max-width: 200px;" ng-model="tipoVehiculo">
                            <option selected>Seleccione...</option>
                            <option value="1">Carro</option>
                            <option value="2">Moto</option>
                            <option value="3">Bicicleta</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 mt-4 d-flex justify-content-center">
                    <div>
                        <label class="form-label text-light">Digitar Placa*</label>
                        <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Digite la placa" style="max-width: 150px;" ng-model="placa">
                    </div>
                </div>
                <div class="col-6 mt-4 d-flex justify-content-center">
                    <div>
                        <label class="form-label text-light">Fecha*</label>
                        <input type="date" class="form-control" style="max-width: 175px;" ng-model="fecha">
                    </div>
                </div>
                <div class="col-6 mt-4 d-flex justify-content-center">
                    <div>
                        <label class="form-label text-light">Hora*</label>
                        <input type="time" class="form-control" style="max-width: 175px;" ng-model="hora">
                    </div>
                </div>
            </div>
            <div class="col-12 mt-4 d-flex justify-content-center ">
                <button type="button" class="btn btn-success m-4 bg-dark" ng-click="registrarVehiculo()" ng-show="!actualizar">Ingresar Vehiculo</button>
                <button type="button" class="btn btn-success m-4 bg-dark" ng-click="actualizarVehiculo()" ng-show="actualizar">Actualizar Vehiculo</button>
            </div>
        </div>
        <div class="container-fluid" ng-show="mostrarListaVehiculos">
            <div class="row d-flex justify-content-center">
                <div class="col-6 d-flex justify-content-center m-3 text-light"><h1>Listar Vehículo</h1>
                </div>
                <table class="table table-dark table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Placa Vehículo</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Tipo Vehículo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="registro in registros">
                            <th scope="row">{{registro.veh_placa}}</th>
                            <td>{{registro.fecha}}</td>
                            <td>{{registro.hora}}</td>
                            <td>{{registro.Tipo_Vehiculo_idTipo_Vehiculo}}</td>
                            <td><button type="button" class="btn btn-success m-1 bg-dark" ng-click="mostrarActualizar(registro)">Actualizar</button>
                                <button type="button" class="btn btn-success m-1 bg-dark" ng-click="borrarVehiculo(registro.veh_placa)">Borrar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</body>
<script src="controladorRegistro.js"></script>
</html>